<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HRDOCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HRDOCS.Properties.Settings>
            <setting name="Type" serializeAs="String">
                <value>ลากิจ</value>
            </setting>
            <setting name="Ty" serializeAs="String">
                <value>ลาคลอด</value>
            </setting>
        </HRDOCS.Properties.Settings>
    </userSettings>
</configuration>